# This partial view file is responsible for rendering the form to create or edit an article.
# It uses the `form_with` helper method to generate the HTML form.
# The `model` option is set to `article`, which specifies the object that the form is associated with.

<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div> <%= message %></div>
    <% end %>
  </div>

  <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div> <%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
