<h1> New Article </h1>

<%= form_with model: @article do |form| %>
# CO-PILOT NOTES The "form_with" helper method instantiates a form builder object that is used to build a form for the Article model object. The form builder object is stored in the local variable "form" and is used to build the form.
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      # .errors is a method that returns an object that represents all the errors for the model object. The object returned by .errors has a method called full_messages_for that returns an array of error messages for the given attribute.
      # full_messages_for is a method that returns an array of error messages for the given attribute.
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>