<h1> New Article </h1>

<%= form_with model: @article do |form| %>
# CO-PILOT NOTES The "form_with" helper method instantiates a form builder object that is used to build a form for the Article model object. The form builder object is stored in the local variable "form" and is used to build the form.
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>